---
import { formatDate } from '../utils/date';
import Layout from './Layout.astro';
import LinkButton from '../components/base/LinkButton.astro';
import Section from '../components/layout/Section.astro';

const { frontmatter } = Astro.props;
---

<Layout description={frontmatter.description} title={frontmatter.title}>
  <Section>
    <article
      class="prose prose-stone mx-auto dark:prose-invert lg:prose-xl prose-headings:font-header prose-headings:font-medium prose-headings:tracking-tight"
    >
      <h1>{frontmatter.title}</h1>
      <div class="flex justify-between text-sm">
        <p>Published on {formatDate(frontmatter.pubDate)}</p>
        <p>Written by {frontmatter.author}</p>
      </div>
      <slot />
    </article>
    <footer class="flex max-w-max pt-8">
      <p>
        <LinkButton href="/blog">Back to blog posts</LinkButton>
      </p>
    </footer>
  </Section>
</Layout>
